$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-red-spoon: #f70303;
$color-green-spoon: #004e01;
$color-white-spoon: #d9ebe8;

$color-secondary-light: hsla(0, 88%, 61%, 0.767);
$color-secondary-dark: #f70301;

$color-tertiary-light: #e0e9e8;
$color-tertiary-dark: #d9ebe8;;

$color-grey-dark: #0e1414;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;